BasedOnStyle: Microsoft
UseTab: Always
IndentWidth: 4
TabWidth: 4
ColumnLimit: 120
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
SortIncludes: Never
StatementMacros:
  - UPROPERTY
  - UFUNCTION
  - GENERATED_BODY
AccessModifierOffset: -4
PointerAlignment: Left
ReferenceAlignment: Left
AlignAfterOpenBracket: DontAlign
ContinuationIndentWidth: 4
